@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* PALETA DE CORES */
:root {
    --green-dark: #4F6B15;
    --green-medium: #809732;
    --green-light: rgb(209, 255, 174);
    --green-light-200: #A3C44F;
    --lilas: #BB82A1;
    --rosa: #E77C94;
    --branco: #fff;
    --preto: #000;
    --rose: #F8B7A0;
    --verde: #7A7F58;
}

/* BASE */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--green-light);
    /* background: url(/img/bg.png) no-repeat;
    background-size: cover;
    background-position: center; */
}

/* HEADER */
header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    position: relative;
    color: var(--green-medium);
    font-size: 30px;
    text-decoration: none;
    font-weight: 100;
    letter-spacing: 2px;
}
header .navigation a{
    color: var(--preto);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 5px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;
}
header .navigation a:not(:last-child){
    margin-right: 30px;
}
header .navigation a:hover{
    background: var(--green-medium);
}

/* INTRODUÇÃO */
.content{
    margin: 80px 100px;
}

.content .intro {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}
.content .intro .info {
    width: 60%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.content .intro .info h2{
    color: var(--green-dark);
    font-size: 5rem;
    font-weight: 500;
    letter-spacing: 4px;
    line-height: 1;
    margin-bottom: 30px;
}
.content .intro .info p{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 30px;
}
.content .info-btn{
    color: var(--branco);
    background: var(--green-dark);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
    width: fit-content;
    transition-property: background;
}
.content .info-btn:hover{
    background: var(--green-medium);
}

.content .intro .perfil {
    width: 40%;
    margin-left: 20px;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.content .intro .perfil .photo-p {
    /* height: 100%; */
    width: 100%;
    border-radius: 50%;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


 /* PROJETOS */

.projetos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.title-projetos {
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 1;
    margin-bottom: 40px;
    position: left;
    color: var(--green-medium);
}

.card {
    width: 45%;
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
    /* border: 3px dotted var(--green-dark); */
    border-radius: 5%;
    padding: 25px;

    background-color: #00000046;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

    transition-property: transform;
    transition-duration: 1s;
}

.card:hover {
    transform: scale(1.1);
}

.title-card,.descricao-card{
    text-align: right;
}
.title-card {
    font-size: 5rem;
    font-weight: 500;
    color: var(--preto);
    line-height: 1;
}
.descricao-card{
    font-size: 1.6rem;
}

/* coffee */
.cardP-coffee {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-cardP-coffee-1 {
    width: 60%;
}
.img-cardP-coffee-2 {
    width: 50%;
    margin-top: 70px;
}
/* soda */
.cardP-soda {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img-cardP-soda-1 {
    width: 40%;
    margin-left: 30px;
    padding: 20px;
}
.img-cardP-soda-2 {
    width: 60%;
    margin-left: 10px;
    padding: 10px;
}

/* gifs cards */
.gif {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}
.img-gif {
    width: 40%;
}





/* icones redes sociais */
.media-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 80px;
}
.media-icon a{
    position: relative;
    color: var(--green-dark);
    font-size: 50px;
    transition-property: transform;
    transition-duration: 1s;
}
.media-icon a:not(:last-child){
    margin-right: 60px;
}
.media-icon a:hover{
    transform: scale(1.5);
}

/* menu reponsivo */
label{
    display: none;
}
#check{
    z-index: 3;
    display: none;
}