@media (max-width: 600px){
    body{
        margin: 0px 12px;
    }

    .galeria{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .tag{
        font-size: 13px;
        width: fit-content;
        margin: 5px 2px;
        padding: 5px 15px;
    }

    .images{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;

        margin-top: 12px;
    }
    img{
        margin: 1px;
        width: 30%;
        height: 50%;
    }

}