@media (max-width: 600px){
    body{
        margin: 0px 30px;
    }
    .galeria{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .tag{
        font-size: 15px;
        /* width: fit-content; */
        margin: 10px 5px;
        /* padding: 5px 15px; */
    }
}