@media (max-width: 600px){
    body{
        margin: 0px 30px;
    }

    .galeria{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .tag{
        font-size: 10px;
        width: fit-content;
        margin: 5px 2px;
        padding: 5px 15px;
    }

    .images{
        margin-top: 12px;
        width: fit-content;
    }
    img{
        width: min-content;
        height: 100px;
    }

}