@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* PALETA DE CORES */
:root {
    --green-dark: #4F6B15;
    --green-medium: #809732;
    --green-light: rgb(209, 255, 174);
    --green-light-200: #A3C44F;
    --bege: rgb(253, 248, 238);

    --branco: #fff;
    --preto: #000;
}

/* BASE */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    text-align: center;
    /* margin: 0px 2em; */
    background-color: var(--green-light);
}
/*///////////////////////////////////////*/

input {
    display: none;
}
label{
    transition: 1s;
    transition-property: background;
}
label:hover{
    background-color: var(--green-medium);
    color: var(--bege);
}

.tag {
    font-size: 20px;
    margin: 1.5em 3px;
    padding: 5px 25px;
    /* width: fit-content; */

    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 50px;

    background: var(--bege);
    color: var(--green-dark);
}

img {
    /* max-width: 300px; */
    /* width: 300px; */
    width:fit-content;
    height: 300px;
    transition: all .4s ease-in-out;
}


/*filtro CSS */
#ilustra:checked~.images>img:not([class*='ilustra']),
#iv:checked~.images>img:not([class*='iv']),
#poster:checked~.images>img:not([class*='poster']) {
    width: 0px;
    height: 0px;
}

#all:checked~.all,
#ilustra:checked~.tag1,
#iv:checked~.tag2,
#poster:checked~.tag3 {
    background-color: var(--green-dark);
    color: var(--bege);
}