* {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    /* margin: 0px 2em; */
    font-family: arial;
    background-color: #d9f4b8;
}


.filter {
    background-color: bisque;
}

input {
    display: none;
}



.tag {
    font-size: 20px;
    margin: 1.5em 0px;
    padding: 5px 25px;
    width: fit-content;

    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 50px;
    background: #ffffff;
    color: #4F6B15;
    /* border: 1px solid #ccc; */

    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
}

img {
    /* max-width: 300px; */
    /* width: 300px; */
    width:fit-content;
    height: 300px;
    transition: all .4s ease-in-out;
}

/*filter CSS */

#ilustra:checked~.images>img:not([class*='ilustra']),
#iv:checked~.images>img:not([class*='iv']),
#poster:checked~.images>img:not([class*='poster']) {
    width: 0px;
    height: 0px;
}

#all:checked~.all,
#ilustra:checked~.tag1,
#iv:checked~.tag2,
#poster:checked~.tag3 {
    background-color: #4F6B15;
    color: white;
}